<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta name="description" content="Plot dailystock">
    <meta name="author" content="@mythopoet">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Plotting is fun!</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_yy.css')}}'>

    <style>
        div.fill{
            height: 90%;
        }
        html
        {
        height: 100%;
        margin: 0;
        padding: 0;
        }

        body
        {
        height: 100%;
        margin: 0;
        padding-top: 0;
        }

    </style>

  </head>


  <body>

<!-- Search form -->
<div class="col-lg-1">
  <ul class="nav nav-pills" role="tablist">
   <li><a href="../index">Home</a></li>
   <li class="active"><a href="#">Ticker Search</a></li>
   <li><a href="#">GitHub</a></li>
 </ul>
</div>

<div class="jumbotron d-flex align-items-center fill">
    <div class="row">
      <div class="col-lg-5 d-flex justify-content-center">
          <form class="form-inline" id='lookup_kw_yy' method='post' action='kw'>
            <input class="form-control form-control-sm mr-3 w-70" type="text" name='symbol_yy' placeholder="Type the stock tickers" aria-label="Search">
            <button type="submit" class="btn-default">Search
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
      </div>

      <div class="col-lg-2 d-flex justify-content-center">
          <h4>Are you looking for one of these stocks?</h4>
      </div>

      <div class="col-lg-4 d-flex justify-content-center">
          <p>{{tickers}}</p>
      </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
