<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="plotting">
    <meta name="author" content="@mythopoet">
    <!-- <link rel="icon" href="favicon.ico"> -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- <links to load BokehJS version 1.0.2> -->
    <link href={{cdn_css | safe}} rel="stylesheet" type="text/css">
    <script src={{cdn_js | safe}} type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_yy.css')}}'>

  <style>
      div.fill{height: 90%;}
      .m6{margin:10pt; padding-top:20pt;padding-bottom:20pt}
      html{
      height: 100%;
      margin: 0;
      padding: 0;
      }

      body
      {
      height: 100%;
      margin: 0;
      padding-top: 0;
      }
  </style>

  <title>{{symbol}} Plots</title>

  </head>

  <body>
    <!-- Tag -->
    <div class="col-lg-1">
      <ul class="nav nav-pills" role="tablist">
       <li><a href="../index">Home</a></li>
       <li><a href="#">GitHub</a></li>
       <li class="active"><a href="#">Plots</a></li>
       <li><a href="https://www.google.com/search?tbm=fin&q={{symbol}}">Google Finance</a></li>
     </ul>
    </div>

    <!-- Tag -->
     <div class="container m6">
       <div class="row">
         <div class="col-lg-5 d-flex justify-content-center">

            {{ div1|safe }}
            {{ script1|safe }}
         </div>

         <div class="col-lg-5 d-flex justify-content-center">

            {{ div2|safe }}
            {{ script2|safe }}
         </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
